.checkbox {
  position: relative;
  padding-left: 21px;

  cursor: pointer;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked+.checkbox__text {
      background-color: $accent-color;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(../images/checkbox-checked.svg);
    }
  }

  &__text {
    position: absolute;
    left: 0;
    width: 16px;
    height: 15px;
    background-image: url(../images/checkbox.svg);
  }
}