.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;

  background: $white-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;

  @media screen and (max-width: 480px) {
      width: calc(100% - 30px);
    }

  @media screen and (min-width: 768px) {
    width: 528px;
  }

  


  &__button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    padding: 0;
    border: none;
    background: url(../images/icon-close.svg);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background: url(../images/icon-close2.svg);
    }
  }

  &__paragraph {
    width: auto;
    margin: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: $text-color;
  }
}