
.nav {

  &__button {
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
    position: absolute;
    right: 10px;

    @media screen and (min-width: 1200px) {
      display: none;
    }

    .nav__icon-cross {
      display: none;
    }

    &.is-open {
      position: fixed;

      &.is-open .nav__icon-cross {
        display: block;
      }

      &.is-open .nav__icon-menu {
        display: none;
      }
    }
  }
}