$text-color: #212121;
$title-color: #757575;
$accent-color: #2196f3;
$primary-color: #e5e5e5;
$black-color: #000000;
$white-color: #ffffff;
$adres-color: rgba(255, 255, 255, 0.6);
$social-color: #afb1b8;